.modal-content
{
    background: linear-gradient(to right,rgb(0, 10, 32), rgb(0, 0, 0),rgb(0, 10, 32));
    color: white;
}

b
{
    color: aquamarine;
}

.kolor-1
{
    color: cornflowerblue;
}
